<section>
    <html>
        <head>
            <title> Menú principal UCObet</title>
        </head>

        <body>
            <nav class="menu">

                <div class="card-advertising-zone">
                    <h1>Advertising zone</h1>
                    <img src="assets/imagenes/UcoBetLogo-Without-Background.png" alt="Logo de Ucobet" class="card-image">
                </div>
                <div class="card">

                    <div class="card2">
                        <h1 class="Tittle">
                            UCObet
                        </h1>
                    </div>

                    <div class="card3">
                       
                        <button class="MenuButton-Button" [routerLink]="'/registroCiudades'">
                            Register city
                        </button>

                        <!--button class="MenuButton-Button" >
                            Waiting...
                        </button>
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>                        
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>                        
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button>                        
                        <button class="MenuButton-Button" >
                            Waiting...
                        </button-->
                    </div>

                </div>

                <div class="card-advertising-zone">
                    <h1>Advertising zone</h1>
                    <img src="assets/imagenes/UcoBetLogo-Without-Background.png" alt="Logo de Ucobet" class="card-image">
                </div>
            </nav>
        </body>
    </html>
</section>
